.text-title {
    font-family: 'Noto Sans KR', serif;
}

.text-paragraph {
    font-family: 'Nanum Gothic', serif;
    line-height: 300%;
}

.text-paragraph dt {
    margin-top: 10px;
    margin-bottom: 30px;
}

.text-paragraph dd {
    margin-bottom: 15px;
}

.form-login-wrapper {
    border: 3px dotted #eaeaea;
    background-color: #eeeeee;
    border-radius: 3px;
    padding: 10px;
}

.center {
    margin: 30px auto;
    width: 50%;
}

.blankbox {
    margin: 20px 10px 10px 10px;
}

.thanks-heading {
    margin-top: 50px;
    margin-bottom: 70px;
}

.img-ok {
    margin-bottom: 70px;
}